*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
section{
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
}
.img-wraper{
    width: 33%;
    padding-top: 33%;
    border: 2px solid #fff;
    float: left;
    position: relative;
}
.img{
    position: absolute;
    left: 0;
    top:0;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}