*{margin: 0;
padding: 0;}
header{
    background: rgb(153, 56, 0);
    color: #fff;
    text-align: center;
    padding:4px;
}
article{
    max-width: 400px;
    margin: 2em auto;
    font-size: 20px;
    background: rgba(206, 205, 205, 0.678);
    padding: 30px;
    border-radius: 9px;
    box-shadow: 5px 3px 9px rgba(206, 205, 205, 0.466);
}
article > ul > ol > li{
    margin: 5px 0px 3px 40px;
}
.cor{
font-size: 1.2em;
color: rgba(0, 0, 0, 0.548);
margin: 7px 0;}
@media screen and (max-width:400px){
    article{
        margin: 2em 1.3em;
    }
    
}
