*{margin: 0;}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: chocolate;
}
section{
    width: 50%;
    height: 50%;
    background-color: aqua;
}
div{
    height: 50%;
    width: 100%;
    background: #f200f0;
}