div{
    display: inline-block;
    height: 200px;
    width:200px;
    background-color:#f00ff0;
}
#box1{background-color: #320320;}
#box2{background-color: coral;}
#box3{background-color: aquamarine;}
#box1:hover{
    height: 500px;
}
#box1:hover, #box2, #box3{
    vertical-align: top;
}#box2:active{
    background-image: url(../aula2/imagens/cactus\ jack.png);
    background-size: cover;
    background-position: center;
}
div:first-of-type(3){
    color: white;
}
div:nth-of-type(3) p{
    color:blanchedalmond
}