*{margin:0;
padding:0;}
.menu{
    width: 500px;
    background-color: rgb(155, 32, 2);
    margin: 0px auto;
    padding: 8px;
    border-radius: 9px;
}
.menu > a{
    outline: none;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 20px;
}
